.footer {
    height: 512px;
    margin-top: 150px;
    color: $white-color;

    &__image {
        display: block;
        width: 100%;
    }
    &__background {
        background-color: $green-color;
    }
    &-links {
        @include display(flex,row,space-between,inherit);
        width: 1100px;
        margin: auto;
        padding: 60px 0px 60px 0px;

        &__info {
            @include display(flex,column,space-between,inherit);
            width: 710px;

            &--suscribe-heading {
                font-size: 22px;
                font-weight: bold;
            }
            &--input {
                @include content-size(46px,672px);
                background-color:$dark-green-color;
                border-radius:20px;
                border-style:none;
                margin:20px 0px 20px 0px;
            }
            &--button {
                @include positions(absolute,86.7%,44.45%);
                @include content-size(33px,190px);
                color: $dark-gray-color;
                border-radius:18px;
                border-style:none;
                padding-top: 4px;
                font-weight:bold;
                font-size:16px;
            }
            &--about-us {
                @include display(flex,row,space-between,inherit);
                @include content-size(140px,640px);

                &>div {
                    @include display(flex,column,space-between,flex-start);
                    font-size: 14px;

                    &>h2 {
                        font-size: 18px;
                        font-weight: 1000;
                    }
                }
            }
        }
        &__copyrights {
            @include display(flex,row,space-between,flex-start);
            font-size: 12px;

            &>div>p:nth-child(1) {
                font-weight: 1000;
            }
            &>div>div {
                @include display(flex,row,flex-start,baseline);
            }
        }
        &__contact {
            @include display(flex,column,space-between,flex-start);
            @include content-size(375px,361px);
            background-color: $dark-green-background-color;
            padding: 25px;
    
            &>div {
                display: flex;
                align-items: center;
                font-size: 14px;
    
                &>div:nth-child(1) {
                    margin: 15px;
                }
                &>div:nth-child(2) {
                    width: 100%;
                    border-bottom: 1.5px solid $light-green-border-color;
                    padding-bottom: 20px;
    
                    &>h4 {
                        font-size: 18px;
                        font-weight: 1000;
                        margin-bottom: 5px;
                    }
                    &>p {
                        color: $light-gray-white-color;
                    }
                }
                &:nth-child(3)>div:nth-child(2) {
                    border: none;
                    padding: 0px;
                }
                &:nth-child(4) {
                    width: 100%;
                    justify-content: space-between;
                    font-size: 18px;
                }
            }
        }
    }
}
::placeholder {
    color: $white-color;
    font-size: 14px;
    padding: 20px;
}