
//--------------------------------------------------------------------------------------------
.header {
    @include display(flex,row,flex-start,center);
    @include content-size(85px,100%);
    top:0px;
    box-shadow: 0px 5px 0px $gray-color;

    &-nav {
        @include display(flex,row,space-between,flex-start);
        width: 100%;
        max-width:1100px;
        margin: auto;
        color: $gray-color;
    }
    &-brand {
        @include display(flex,row,flex-start,center);
        @include content-size(43px,271px);

        &__image {
            width: 42px;
        }
        &__name {
            font-size: 15px;
            font-weight: 800;
            padding-left: 10px;
        }
    }
    &-menu__top-options {
        @include display(flex,row,space-between,flex-start);
        @include content-size(19px,562px);
        list-style: none;
        font-size: 14px;
        margin-left: 95px;

        &--sizing {
            @include display(flex,row,space-between,baseline);
            width: 80px;
            padding-right: 15px;
            border-right: 1px solid;
            font-weight: bold;

            &>p:nth-child(1) {
                font-size: 11px;
            }
            &>p:nth-child(2) {
                font-size: 14px;
            }
            &>p:nth-child(3) {
                font-size: 16px;
            }
        }
        &--colors {
            @include display(flex,row,space-between,flex-start);
            width: 80px;
            padding-right: 15px;
            border-right: 1px solid;

            &>a {
                display: block;
                @include content-size(15px,15px);
                border-radius: 50%;

                &:nth-child(1) {
                    background-color: $deep-blue-color;
                }
                &:nth-child(2) {
                    background-color: $pale-green-color;
                }
                &:nth-child(3) {
                    background-color: $yellow-color;
                }
            }
        }
        &--language {
            padding-right: 15px;
            border-right: 1px solid;
        }
    }
    &-menu__bottom-options {
        @include display(flex,row,space-between,flex-start);
        list-style: none;
        @include content-size(19px,657px);
        font-size: 14px;
        margin-top: 10px;
        
        &>li {
            padding-right: 10px;
            border-right: 1px solid;

            &:last-child {
                padding-right: 0px;
                border-right: none;
            }
        }
    }
}