.banner {
    &__tracter-image {
        width: 100%;
    }
    &__content {
        @include positions(absolute,13%,10%);
        color:  $white-color;

        &>a {
            display: inline-block;
            background-color: $white-color;
            color: $black-color;
            font-size: 22px;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
        }
        &>h2:nth-child(1) {
            display: inline-block;
            background-color: $green-color;
            font-size: 57px;
            font-weight: bold;
            padding: 0px 10px 0px 10px;
            margin-bottom: 5px;
        }
        &>h2:nth-child(2) {
            background-color: $deep-green-color;
            font-size: 35px;
            font-weight: bold;
            padding: 5px 10px 5px 10px;
            margin-bottom: 25px;
        }
    }
    &__drop-down {
        @include positions(absolute,23%,50%);
        @include display(flex,row,center,center);
        @include content-size(78px,80px);
        background-color:  $green-color;

        &>div {
            @include content-size(40px,35px);
            border: 4px solid  $white-color;
        }
    }

}
//-----------------------------------------------------------------------------------------------------------------

.irrigation-heading {
    @include display(flex,row,center,flex-end);
    @include content-size(370px,100%);

    &__info {
        @include content-size(220px,876px);

        &>h2 {
            color: $gray-color;
            font-size: 43px;
            font-weight: bold;
            height: 51px;

            &:nth-child(1) {
                padding-left: 100px;
            }

            &:nth-child(3) {
                padding-left: 240px;
            }
        }
        &>img {
            @include content-size(90px,740px);
        }
    }
    &__stamp {
        @include content-size(169px,182px);
        position: relative;
        bottom: 20%;
    }
}
//------------------------------------------------------------------------------------------------------------

.services {
    @include display(flex,row,center,center);
    @include content-size(300px,100%);
    background-image: linear-gradient( $white-color,#F0F0F0);

    &-links {
        @include display(flex,row,space-between,flex-start);
        width: 900px;

        &>div {
            @include display(flex,column,space-between,center);
            @include content-size(130px,100px);
            text-align: center;
            color: $gray-color;
            font-weight: bold;
        }
    }
}
.about-vidc {
    @include positions(absolute,52%,7%);
    @include display(flex,row,space-around,center);
    @include content-size(521px,1050px);

    &-image {
        width: 556px;

        &>div:nth-child(2) {
            @include display(flex,row,center,center);
            @include content-size(70px,70px);
            position: absolute;
            bottom:45%;
            left: 27%;
            background-color: $pale-light-green-color;
            border-radius: 50%;
        }
    }
    &-background {
        @include display(flex,row,flex-start,flex-start);
        width: 100%;
    
        &__image {
            @include content-size(521px, 407px);
        }
        &__brown-background {
            @include content-size(521px,100%);
            background-color: $brown-color;
        }
    }
    &__description {
        @include display(flex,column,space-between,flex-start);
        @include content-size(367px,395px);
        color:  $white-color;

        &>h2 {
            font-size: 36px;
            font-weight: bold;
        }
        &>a {
            @include display(flex,row,center,center);
            background-color: $pale-light-green-color;
            height: 47px;
            padding: 10px;
        }
    }
}